@charset "UTF-8";

/* reserve */
#reserve {
    width: 100%;
    height: 70px;
    background: #788841;
    margin: 0 auto;
}
#rBox {
    width: 100%;
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.rTitle p:last-child {
    font-size: .7rem;
    color: #d3d6b9;
    margin-top: -2px;
}
.rTitle p:first-child {
    text-align: center;
    font-size: .86rem;
    font-weight: 600;
    color: #f8f9f4;
}
.rMedia {
    display: none;
}
#rBox button {
    background: #788841;
    border: 1px solid #fff;
    color: #f8f9f4;
    padding: 8px 20px;
    font-size: .7rem;
}

#aSec {
    width: 100%;
    background: #fff;
}
#bigAbox {
    height: 600px;
    position: relative;
    display: block;
}
#mBigAbox {
    display: none;
}
.aTitle {
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.aInfo {
    margin-right: 160%;
}
.aInfo h2{
    opacity: 0;
    font-size: 3.1rem;
    color: #333;
    margin-top: -13px;
    letter-spacing: -0.5px;
}
.aInfo h2:last-child {
    margin-top: -12px;
}
.aInfo p{
    font-size: .9rem;
    color: #616161;
    opacity: 0;
}
.aLine {
    display: flex;
    margin: 12px 0 16px;
}
.slideL {
    width: 93px;
    height: 4px;
    background: #e5e6e0;
    transition: .3s;
    margin-right: 2px;
}
.slOn {
    background: #788841;
}
.aSlide {
    width: 60%;
    height: 100%;
    left: 40%;
    position: absolute;
    top: 0;
    overflow: hidden;
}
.aBox {
    width: 1360px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numberAbox {
    width: 300px;
    margin: 20px;
}
.conceptInfo {
    position: relative;
}
.conceptInfo p:first-child {
    font-size: 2.6rem;
    font-weight: 600;
    color: #e5e6e0;
}
.on1 {
    color: #788841 !important;
}
.conceptInfo p:last-child {
    z-index: 1;
    margin-bottom: 10px;
    color: #e5e6e0;
    font-size: .8rem;
}
.conceptInfo h3 {
    width: 100%;
    font-size: 2rem;
    z-index: 1;
    margin: 50px 0 4px;
    color: #e5e6e0;
}
.on2 {
    color: #788841 !important;
}

.on3 {
    color: #9e9e9e !important;
}

.numberAbox img {
    opacity: .5;
    transition: .5s;
}
.on4 {
    opacity: 1 !important;
}







#bSec {
    width: 100%;
    background: #788841;
}
.bgFull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}
#bgImgTwo {
    width: 230px;
    height: 230px;
    background: url(../images/bg2.png) no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: -100%;
    top: -70px;
    z-index: 1;
}
#bgImgThr {
    width: 200px;
    height: 180px;
    background: url(../images/pa1.png) no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    right: -100%;
    top: 95%;
    z-index: 1;
}

#bBox {
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
    height: 500px;
}
#bTitle {
    width: 40%;
    color: #fff;
    position: relative;
}
#season {
    display: flex;
}
#season p {
    font-size: .63rem !important;
}
.line2 {
    width: 40px;
    height: 1px;
    background: #fff;
    margin-top: 9px;
    margin-left: 2px;
}
#bTitle {
    opacity: 0;
    margin-top: 18px;
}
#bTitle h2 {
    color: #e5e6e0;
    font-size: 1.56rem;
    margin-top: -10px;
}
#bTitle h1 {
    font-size: 5.83rem;
    font-weight: 300;
}
#bTitle p {
    color: #e5e6e0;
    font-size: .9rem;
    padding-left: 3px;
}
.bTextMo {
    display: none;
}
#moreBt {
    /* margin-top: 30px;
    padding: 14px 28px;
    border-radius: 20px;
    border: none;
    color: #788841; */
    margin-top: 30px;
    border: none;
    color: #788841;
    padding: 14px 20px;
    font-size: .8rem;
}
#bSlide {
    width: 60%;
    height: 100%;
    position: relative;
}
#bSlide img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#bSlide img {
    display: none;
}
#page {
    /* display: flex;
    justify-content: end;
    position: absolute;
    bottom: 16%;
    float: right;
    left: 23%; */
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 3px;
    right: 60px;
}
.circle {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #445b17;
    margin: 7px;
}
.cOn {
    background: #fff;
}


#cSec {
   width: 100%;
   background: #fff;
}
#cBox {
    padding: 90px 0;
}
#cImgBox {
    width: 40%;
}
#cImgBox img {
    width: 100%;
    transform: scale(1.1);
}
.imgScale {
    animation : scaleIn 3s forwards;
}
@keyframes scaleIn {
    from { transform: scale(1.1);  }
    to { transform: scale(1); }
}


#cTextBox {
    width: 60%;
    padding-left: 130px;
    overflow: hidden;
}
.cTitle, .cTitle2 {
    opacity: 0;
    letter-spacing: 3.2px;
    color: #222222;
    font-size: 5.23rem;
}
.cTitle2 {
    margin-top: -25px;
}
.cText {
    display: none;
    padding-top: 6px;
    color: #929292;
    font-size: .96rem;
}
.cMediaText {
    display: none;
}
.cBt {
    margin-top: 30px;
    border: none;
    background: #445b17;
    color: #fff;
    padding: 14px 20px;
}





#eSec {
    background: #f8f9f4;
    height: 500px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.eImgBox {
    top: 0;
    width: 40%;
    overflow: hidden;
}
.eImgBox img {
    height: 100%;
}
.eBox {
    width: 30%;
    height: 100%;
    background: #788841;
    text-align: center;
    position: relative;
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, .3);
}
.eText {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
}
.eLine {
    width: 30px;
    height: 3px;
    background: #f8f9f4;
    margin: 20px auto;
}
.eText h1 {
    width: 100%;
    /* font-size: 4em; */
    font-size: 3.4rem;
    color: #f8f9f4;
}
.eText p {
    width: 100%;
    color: #f8f9f4;
    font-size: 1.5rem;
}
.eText p:last-child{
    text-align: justify;
    font-size: .8rem;
    color: #eaeaea;
    font-weight: 100;
    line-height: 22px;
}

.shopBag {
    width: 30%;
    overflow: hidden;
}
.shopBag img {
    height: 100%;
}




#fSec {
    width: 100%;
    justify-content: center;
    background: #fff;
}
#fBigBox {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 120px 20px 150px;
}
.fBox {
    width: 100%;
}
.fBox p:first-child {
    font-size: 2rem;
    color: #333;
}
.fBox p {
    font-size: .88rem;
    color: #616161;
}
.evtBox {
    padding-top: 45px;
    width: 33%;
    display: flex;
}
.fTitle {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fNum {
    position: absolute;
    font-size: 6rem;
    font-weight: 600;
    color: #f8f9f4;
}
.fTitle p:last-child {
    z-index: 1;
}
.fIcon {
    display: none;
    font-size: 3rem;
    color: #788841;
}

.fText {
    width: 70%;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.fText p:first-child {
    font-size: 1.45rem;
    padding-bottom: 6px;
    font-weight: 600;
    color: #445b17;
}
.fInfo {
    font-size: .85rem;
    color: #9e9e9e;
}

#gSec {
    width: 100%;
    background: #fff;
}
#gBox {
    padding: 80px 0;
}

#gImgBox {
    width: 40%;
    overflow: hidden;
}
#gImgBox img {
    width: 100%;
    transform: rotate(-30deg);
}
.imgRotate {
    animation : rotateIn 3s forwards;
}
@keyframes rotateIn {
    from { transform: rotate(-30deg); }
    to { transform: rotate(0deg); }
}

#gTextBox {
    width: 60%;
    padding-left: 80px;
}
.gTitle, .gTitle2 {
    opacity: 0;
    letter-spacing: 3.2px;
    color: #222222;
    font-size: 5.23rem;
}
.gTitle2 {
    margin-top: -25px;
}
.gText {
    display: none;
    padding-top: 6px;
    color: #929292;
    font-size: .96rem;
}
.gMediaText {
    display: none;
}
.gBt {
    margin-top: 30px;
    border: none;
    background: #445b17;
    color: #fff;
    letter-spacing: -0.5px;
    padding: 14px 20px;
}

#dSec {
    width: 100%;
    position: relative;
}
#dTitle {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgba(255, 255, 255, .6);
    display: none;
}
#dTitle p {
    font-size: .96rem;
}
#dTitle h1 {
    font-size: 2.2rem;
    margin-top: -10px;
}
#video {
    width: 100%;
    height: 450px;
    overflow: hidden;
}
#video .movie {
    width: 100%;
    display: block;
}



#hSec {
    width: 100%;
    position: relative;
    height: 550px;
}
#hSec h1 {
    position: absolute;
    z-index: 1;
    padding: 50px;
    color: rgba(255, 255, 255, .6);
}
.lotateLine {
    transform: rotate(45deg);
}
#hTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgba(255, 255, 255, .6);
}
.brandInfo p:first-child {
    font-size: .9rem;
    opacity: 0;
}
.brandTitle {
    opacity: 0;
    font-weight: 300;
    letter-spacing: 6px;
    font-size: 4.5rem;
    padding: 15px 0 20px;
    color: rgba(255, 255, 255, .9);
}
.brandText {
    opacity: 0;
    font-size: 1.1rem;
}
.hTextInfo {
    opacity: 0;
    font-size: .83rem;
    padding: 0 50px;
    font-weight: 100;
    display: block;
}
.hMtextInfo {
    display: none;
}
#backVideo {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
#backVideo .movie {
    width: 100%;
    display: block;
}








#iSec {
    width: 100%;
    background: #fff;
}
#iBox {
    padding: 60px 0 50px;
}
.allBox {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
}
#iImgBox {
    width: 45%;
    margin-left: -120%;
}
#iImgBox img {
    width: 100%;
}
#iTextBox {
    width: 55%;
    padding-left: 40px;
    overflow: hidden;
}
#iTextBox {
    color: #929292;
}
.iTitle {
    opacity: 0;
    letter-spacing: 3.2px;
    color: #424242;
    font-size: 3.83rem;
    cursor: pointer;
}
.iText {
    font-size: .93rem;
    opacity: 0;
}









