@charset "UTF-8";

/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
##Device = 데스크탑
##Screen = 1281px 이상 해상도 데스크탑
*/

@media (min-width: 1281px) {


}

/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
##Device = 랩탑, 데스크탑
##Screen = 1025px에서 1280px 사이
*/

@media (min-width: 1025px) and (max-width: 1280px) {


}

/*
##Device = Tablets, Ipads (portrait),
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(세로),
##Screen = 768px에서 1024px 사이
*/

@media (min-width: 768px) and (max-width: 1024px) {


}

/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(가로)
##Screen = 768px에서 1024px 사이
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
##Device = 저해상도 태블릿, 모바일(가로)
##Screen = 481px에서 767px 사이
*/

@media (min-width: 481px) and (max-width: 767px) {



}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
##Device = 대부분의 스마트폰 모바일 기기(세로)
##Screen = 320px에서 479px 사이
*/

@media (min-width: 320px) and (max-width: 480px) {
    #mediaHeader {
        display: block;
        width: 100%;
        height: 500px;
        overflow: hidden;
        position: relative;
    }
    #mSideBt {
        padding-right: 20px;
        color: #eee;
        display: block;
    }
    #msideBt p {
        font-size: 1rem;
    }
    #mediaTitle {
        position: absolute;
        top: 55%;
        left: 50%;
        z-index: 1;
        color: rgba(255, 255, 255, 0.5);
        transform: translate(-50%, -55%);
        font-size: 1.5rem;
        font-weight: 300;
        text-align: center;
        width: 100%;
        letter-spacing: 1px;
    }
    #mediaTitle p {
        opacity: 0;
    }



    .logo p {
        font-size: 1.6rem;
    }
    #shadow, #imgBox, #headerBox, .naviBox {
        display: none;
    }
    .rTitle {
        display: none;
    }
    .rMedia {
        display: block;
        font-size: 0.83rem;
        color: #fff;
    }
    #rBox button {
        font-size: .63rem;
    }









#mAbox {
    width: 100%;
    display: flex;
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}




.smallLine {
    width: 20px;
    height: 2.4px;
    background: #788841;
    margin: 15px auto;
}
.change {
    background: #d3d6b9;
}

    #bigAbox {
        display: none;
    }

    #mBigAbox {
        display: block;
        padding: 90px 0 0;
    }

    .titleBox {
        width: 100%;
        text-align: center;
    }
    .line {
        height: 3px;
        background: #788841;
        margin: 11px auto;
        width: 80%;
        float: left;
    }
    
    
    .titleBox p:first-child {
        font-size: .93rem;
        display: none;
        letter-spacing: -0.5px;
        color: #757575;
    }
    .titleBox h2 {
        font-size: 1.73rem;
        color: #212121;
        margin-top: -6px;
    }

    .titlem {
        display: inline-block;
        font-size: .83rem;
        color: #616161;
        margin-bottom: 90px;
        display: inline-block;
    }


    .aCont {
        position: relative;
        height: 300px;
        width: 100%;
        opacity: 0;
        overflow: hidden;
    }

    .aCont img {
        width: 100%;
        display: block;
    }
    .aRight {
        position: relative;
        right: 0;
    }
    .aLeft {
        position: relative;
        left: 0;
    }

    
.info {
    width: 100%;
    height: 300px;
    background: #e2e2d8;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    position: absolute;
        top: 0;
        left: 0;
        background: rgba(34, 34, 34, 0.6);
}




    .aCont:nth-child(2n) .info{
        background: rgba(34, 34, 34, 0.9);
    }
    .aInfoBox {
        width: 100%;
    }
    .info h3 {
        color: #fff;
        font-size: 1.7rem;
        width: 100%;
    display: inline-block;
    }
    .info p {
        color: #fff;
        width: 100%;
    display: inline-block;
    font-size: 0.83rem;
    }
    .smallLine {
        background: #fff;
        width: 70%;
        margin: 11px auto;
    }
    .lineR {
        float: right;
    }
    .lineL {
        float: left;
    }

    #bBox {
        flex-direction: column-reverse;
        padding: 0;
    }
    #bTitle {
        width: 100%;
        height: 47%;
        margin-top: 0;
        width: 85%;
    }
    #bSlide {
        width: 100%;
        height: 53%;
    }
    #page {
        display: none;
    }
    #bTitle h1 {
        font-size: 3.4rem;
        margin-bottom: 4px;
    }
    #bTitle h2 {
        font-size: 1.26rem;
        margin-top: -8px;
    }
    #season p {
        font-size: .6rem !important;
    }
    .line2 {
        width: 17px;
    }
    .bText {
        display: none;
    }
    .bTextMo {
        display: block;
    }
    #bTitle p {
        font-size: .8rem;
    }
    #moreBt {
        font-size: 0.68rem;
        padding: 10px 20px;
        margin-top: 12px;
    }
 


    #cBox {
        padding: 80px 0;
    }
    #cImgBox {
        width: 100%;
        padding: 20px;
    }

    #cTextBox {
        width: 100%;
        padding: 10px 20px;
    }
    .cTitle, .cTitle2 {
        font-size: 2.8rem;
        margin-top: -12px;
    }
    .cText {
        display: none !important;
    }

    .cMediaText {
        display: block;
        padding-top: 4px;
        color: #929292;
        font-size: .75rem;
    }
    .cBt {
        margin-top: 20px;
        font-size: .68rem;
    }
    .shopBag {
        width: 100%;
    }

    .eBox {
        width: 100%;
        position: absolute;
        height: 500px;
        background: rgba(0, 0, 0, .4);
        box-shadow: 0px 0px 20px 3px #21212163;
    }
    .eTitle {
        font-size: 1.8rem !important;
    }
    .eText {
        width: 60%;
    }
    .eText p {
        font-size: .9rem !important;
    }
    .eText p:last-child {
        font-size: .8rem !important;
    }
    .eImgBox {
        display: none;
    }

    #gBox {
        flex-direction: column-reverse;
    }
    #gTextBox {
        width: 100%;
        padding: 0 20px;
    }
    .gTitle, .gTitle2 {
        font-size: 2.8rem;
        margin-top: -12px;
    }
    .gText {
        display: none !important;
    }
    .gMediaText {
        display: block;
        padding-top: 4px;
        color: #929292;
        font-size: .75rem;
    }
    .gBt {
        margin-top: 20px;
        font-size: .68rem;
    }
    #gImgBox {
        width: 100%;
        padding: 0 20px;
    }


    #dTitle p {
        font-size: .73rem;
    }
    #dTitle h1 {
        font-size: 1.3rem;
        margin-top: -6px;
    }
    #video {
        width: 100%;
        height: 350px;
        overflow: hidden;
    }
    #video .movie {
        display: block;
        height: 100%;
        float: right;
        width: auto;
    }

    #fBigBox {
        padding: 80px 20px;
    }
    .fBox {
        text-align: center;
    }
    .fText p:first-child {
        width: 100%;
        font-size: 1.2rem;
        padding-bottom: 2px;
    }
    .fBox p {
        font-size: .75rem;
    }
    .fBox p:first-child {
        font-size: 1.7rem;
        color: #333;
    }

    .evtBox {
        width: 100%;
        padding-top: 40px;
    }
    .fInfo {
        font-size: .82rem;
        
    }

    #hSec {
        height: 480px;
    }
    #hTitle {
        width: 100%;
    }
    .brandInfo p:first-child {
        font-size: .76rem;
    }
    .hMtextInfo {
        opacity: 0;
        font-size: .74rem;
        padding: 0;
        font-weight: 100;
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    .hTextInfo {
        display: none;
    }
    .brandTitle {
        font-size: 1.4rem;
        padding: 20px 0;
    }
    .brandText {
        font-size: .78rem;
    }
    #backVideo .movie {
        width: auto;
    }

    #iImgBox {
        width: 100%;
        padding: 0 10px;
    }

    #iTextBox {
        width: 100%;
        padding: 10px 25px;
    }
    .iText {
        font-size: .73rem;
    }
    .iTitle {
        font-size: 1.83rem;
    }

    #footBox {
        padding: 25px 10px 15px;
    }
    #footTop ul {
        font-size: .56rem;
    }
    #copy {
        display: none;
    }
    #mediaCopy {
        display: block;
        margin-top: 8px;
    }
    #mediaCopy p {
        padding-bottom: 2px;
        font-size: .43rem;
        color: #d2dcb0;
    }
    .copyRight {
        font-size: .43rem;
    }
    #soical p {
        font-size: 1.2rem;
    }
    #footMidle {
        margin: 10px 0 15px;
        flex-wrap: wrap;
    }
    #endLogo {
        display: none;
    }

    
    #sideBt {
        display: none;
        bottom: 80px;
        background: rgba(68, 91, 23, 0.5);
        font-size: .6rem;
    }
    #topBt {
        background: rgba(120, 136, 65, .5);
        font-size: .6rem;
    }
}

