@charset "UTF-8";

/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
##Device = 데스크탑
##Screen = 1281px 이상 해상도 데스크탑
*/

@media (min-width: 1281px) {


}

/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
##Device = 랩탑, 데스크탑
##Screen = 1025px에서 1280px 사이
*/

@media (min-width: 1025px) and (max-width: 1280px) {


}

/*
##Device = Tablets, Ipads (portrait),
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(세로),
##Screen = 768px에서 1024px 사이
*/

@media (min-width: 768px) and (max-width: 1024px) {


}

/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(가로)
##Screen = 768px에서 1024px 사이
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
##Device = 저해상도 태블릿, 모바일(가로)
##Screen = 481px에서 767px 사이
*/

@media (min-width: 481px) and (max-width: 767px) {



}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
##Device = 대부분의 스마트폰 모바일 기기(세로)
##Screen = 320px에서 479px 사이
*/

@media (min-width: 320px) and (max-width: 480px) {
    #mSideBt {
        font-size: 1.4rem;
        padding-right: 20px;
        color: #eee;
        display: block;
        cursor: pointer;
    }
    #msideBt p {
        font-size: 1rem;
    }

    #footBox {
        padding: 25px 10px 15px;
    }
    #footTop ul {
        font-size: .56rem;
    }
    #footTop li:last-child {
        display: none;
    }
    #copy {
        display: none;
    }
    #mediaCopy {
        display: block;
        margin-top: 8px;
    }
    #mediaCopy p {
        padding-bottom: 2px;
        font-size: .43rem;
        color: #d2dcb0;
    }
    .copyRight {
        font-size: .43rem;
    }
    #social p {
        font-size: 1.1rem;
    }
    #footMidle {
        margin: 10px 0 15px;
        flex-wrap: wrap;
    }
    #endLogo {
        display: none;
    }

    
    #sideBt {
        display: none;
        bottom: 80px;
        background: rgba(68, 91, 23, 0.5);
        font-size: .6rem;
    }
    #topBt {
        background: rgba(120, 136, 65, .5);
        font-size: .6rem;
    }


    #mobileNavi {
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        background: #fff;
        z-index: 30;
        align-items: center;
        justify-content: center;
    }
    .moClose {
        position: absolute;
        top: 25px;
        right: 25px;
        font-size: 2rem;
        color: #9e9e9e;
        cursor: pointer;
    }
    #moBox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .moTop {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
        flex-wrap: wrap;
    }
    .moLogo {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        background: #445b17;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .moLogo a {
        font-size: 2rem;
        color: #fff;
    }
    .moMenu {
        padding: 20px 0;
        border-bottom: 1px solid #e5e6e0;
    }
    .moMenu a {
        color: #445b17;
        font-size: 1.43rem;
    }
    .moMenu span {
        font-size: .9rem;
        color: #969696;
    }
    .moNum {
        font-size: 1rem !important;
    }

    

}

