@charset "UTF-8";

/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
##Device = 데스크탑
##Screen = 1281px 이상 해상도 데스크탑
*/

@media (min-width: 1281px) {


}

/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
##Device = 랩탑, 데스크탑
##Screen = 1025px에서 1280px 사이
*/

@media (min-width: 1025px) and (max-width: 1280px) {


}

/*
##Device = Tablets, Ipads (portrait),
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(세로),
##Screen = 768px에서 1024px 사이
*/

@media (min-width: 768px) and (max-width: 1024px) {


}

/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(가로)
##Screen = 768px에서 1024px 사이
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
##Device = 저해상도 태블릿, 모바일(가로)
##Screen = 481px에서 767px 사이
*/

@media (min-width: 481px) and (max-width: 767px) {



}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
##Device = 대부분의 스마트폰 모바일 기기(세로)
##Screen = 320px에서 479px 사이
*/

@media (min-width: 320px) and (max-width: 480px) {
    .logo p {
        color: #fff;
        font-size: 1.6rem;
    }
    .naviBox {
        display: none;
    }
    #infoBox {
        display: none;
    }
    #infoBoxLeft {
        width: 100%;
        top: 0;
        border-radius: unset;
    }
    .leftTitle h1 {
        font-size: 5rem;
    }

    #aBox {
        flex-direction: column-reverse;
        padding: 10px 0 100px;
    }
    #aImgBox {
        width: 100%;
    }
    #aTextBox {
        width: 100%;
        padding: 0 20px;
    }
    .aTitle, .aTitle2 {
        font-size: 2.8rem;
        margin-top: -12px;
    }
    .aText {
        display: none;
    }
    .aMediaText {
        display: block;
        padding-top: 4px;
        color: #929292;
        font-size: .8rem;
        opacity: 0;
    }




    .bBox {
        flex-wrap: wrap;
    }
    .bTitle {
        bottom: 100.5%;
    }
    .menuBox {
        width: 100%;
        margin-bottom: 120px;
    }
    .bBox:last-child {
        padding-top: 0;
    }
    .bMenu img {
        width: 355px;
    }



    #cBox {
        padding: 80px 0 100px;
    }
    #cImgBox {
        width: 100%;
    }
    #cTextBox {
        width: 100%;
        padding: 0 20px;
    }
    .cTitle, .cTitle2 {
        font-size: 2.8rem;
        margin-top: -12px;
    }
    .cText {
        display: none;
    }
    .cMediaText {
        display: block;
        padding-top: 4px;
        color: #929292;
        font-size: .8rem;
        opacity: 0;
    }

    #dBox {
        flex-wrap: wrap;
        padding: 100px 0;
    }
    .dTitleBox {
        width: 100%;
    }

    .dTitle h1 {
        font-size: 4rem;
    }
    .slideL {
        width: 52px;
    }
    .dImgBox {
        width: 100%;
        overflow: unset;
    }
    .dSlide {
        flex-wrap: wrap;
        width: 88%;
        margin: 0 auto !important;
    }
    .dImgInfo {
        width: 100%;
        padding: 25px 0;
    }
    .dImgInfo img {
        width: 80%;
        margin: 0 auto;
        opacity: 1;
    }

    #eBox {
        height: 450px;
    }
    .eTitle h1 {
        font-size: 3.4rem;
    }
    #backVideo .movie {
        height: 100vh;
        width: initial;
    }


    #fBigBox {
        padding: 100px 25px;
    }
    .fBox p:first-child {
        font-size: 1.7rem;
    }
    .fBox p {
        font-size: .75rem;
    }
    .evtBox {
        padding: 35px 0 0;
        flex-wrap: wrap;
    }

    .fTitle {
        width: 40%;
    }
    .fStar {
        width: 60%;
    }
    .fText {
        padding: 0;
        width: 100%;
    }
    .fInfo {
        display: none;
    }
    .fMinfo {
        display: block;
        font-size: .8rem;
        color: #929292;
    }





    .evtGbox {
        padding-top: 35px;
        width: 100%;
    }
    .gTitle, .gText {
        width: 50%;
    }
    .gNum {
        font-size: 8rem;
    }







}

