@charset "UTF-8";

/* font import */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');

@font-face {
    font-family: 'HoonTop'; 
    font-display: fallback;
    src: url('./font/HoonTop_Bold_italic.eot'),
         url('./font/HoonTop_Bold_italic.woff') format('woff'),
         url('./font/HoonTop_Bold_italic.ttf') format("truetype");
}

.hoonTop {
    font-family: 'HoonTop' !important;
    font-style: normal;
}

.han {font-family: 'Noto Sans KR', sans-serif; letter-spacing: -1px;}

/* setting */
* {box-sizing: border-box;}
body {padding: 0; margin: 0; font-family: 'Noto Sans', sans-serif; overflow-x: hidden; font-size: 14px;} 
button {outline: none;}
h1, h2, h3, h4, h5, h6, p, ul {margin: 0; padding: 0;}
ul {list-style: none;}
a {text-decoration: none;}
button {cursor: pointer;}
img {display: block;}
p {margin: 0; padding: 0;}

/* header */
#header {position: relative; background: #fff; height: 660px;}
#mediaHeader {display: none;}
.over {overflow: hidden;}

/* header - shadow */
#shadow {width: 100%; position: absolute;}
#shadow img {width: 100%;}

/* header - Img */
#imgBox {
    width: 300%;
    display: flex;
}
.headImgBox {
    width: 100%;
}
.headImgBox img {
    width: 100%;
}

/* header - menu & logo */
#topBox {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
    padding-top: 30px;
}
.menuScroll {
    background: #788841;
    padding: 10px !important;
}
#navi {
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
}
.logo {
    padding-left: 25px;
    cursor: pointer;
}
.logo p {
    color: #fff;
    font-size: 1.83rem;
} 
#mSideBt {
    display: none;
}

.naviBox {
    display: flex;
    align-items: center;
}

.menu {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.menuLine {
    position: absolute;
    width: 0;
    height: 2px;
    background: #d2dcb0;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}
.menu a {
    color: #fff;
    font-size: .9rem;
}
.menu:nth-child(5) {
    margin-right: 45px;
}
.menu:last-child {
    width: 68px;
}
.menu:last-child a {
    color: #212529;
}
.loginIcon {
    font-size: 1rem;
    color: #445b17;
}

#sideMenu {
    position: absolute;
    width: 300px;
    height: 100%;
    background: #fff;
    top: 0;
    right: 0;
    z-index: 3;
    display: none;
}

/* header - title, cont, side (number, line) */
#headerBox {
    width: 100%;
    height: 100%;
    max-width: 1280px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
#headerTitle {
    position: absolute;
    top: 50%;
    right: 180px;
    transform: translateY(-50%);
}
.changeTitle, .changeTitle2 {
    font-size: 5.5rem;
    color: #fbfdf1;
    font-weight: 300;
}
.changeTitle2 {
    margin-top: -25px;
}
.changeCont {
    color: #f8f9f4;
    font-size: .9rem;
    cursor: pointer;
}
.cont {
    margin-top: 20px;
    color: #f8f9f4;
    cursor: pointer;
    /* background: rgba(120, 136, 65, 0.73); */
    background: rgba(68, 91, 23, 0.6);
    padding: 14px 25px;
    border: none;
    font-size: .83rem;
}

#menuLine {
    width: 18px;
    height: 1px;
    background: #c5c5c5;
    position: absolute;
    right: 25px;
    top: 85px;
    z-index: 10;
}
#number {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    background: #fff;
    padding-left: 24px;
}
#pageNum li {
    height: 65px;
    font-weight: 600;
    color: #a8a8a4;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
#pageNum li:last-child {
    padding-bottom: 0;
}

.numOn {
    height: 70px;
    font-size: 22px !important;
    color: #445b17 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0 !important;
}
.lineOn {
    width: 2px;
    height: 40px;
    background: #788841;
    margin-left: 20px;
}
#side {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: #fff;
    border-left: 1px solid #dcdcde;
}


/* footer */
#foot {
    width: 100%;
    background: #788841;
}
#foot p {
    letter-spacing: 0 !important;
}
#footBox {
    width: 100%;
    padding: 25px 20px;
}
#footTop {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}
#footTop p {
    font-family: 'Francois One', sans-serif;
    font-size: 30px;
}
#footTop ul {
    display: flex;
    justify-content: flex-end;
    font-size: .8rem;
}
#footTop li {
    letter-spacing: 0 !important;
    cursor: pointer;
    color: #e2ecbd;
}
#footMidle {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#footMidle img {
    width: 100px;
}
#copy {
    margin-top: 10px;
}
#copy p {
    padding-bottom: 2px;
    font-size: .7rem;
    color: #d2dcb0;
    font-weight: 100;
}
#endLogo {
    margin-top: -14px;
}
#endLogo p {
    color: #fff;
    font-size: 2.6rem;
    color: #e2ecbd;
}
#mediaCopy {
    display: none;
}
#googleMap {
    width: 100%;
    height: 450px;
    display: block;
}

#footEnd {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyRight {
    font-size: .7rem;
    color: #d2dcb0;
}
#social {
    display: flex;
    align-items: flex-end;
    margin-top: -13px;
}
#social p {
    padding: 0 5px;
    font-size: 1.5rem;
    color: #e2ecbd;
    cursor: pointer;
}






#sideBt {
    height: 70px;
    background: #445b17;
    position: fixed;
    bottom: 120px;
    right: -100px;
    color: #fff;
    font-size: .83rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 20;
}
.openBt {
    transform: rotate(-90deg); 
   
}
#sideBox {
    width: 100px;
    text-align: center;
}
#sideBox p {
    font-size: .7rem;
}
#sideIcon {
    font-size: 1.88rem !important;
}

#topBt {
    height: 40px;
    background: #788841;
    position: absolute;
    bottom: 80px;
    color: #f8f9f4;
    font-size: .83rem;
    display: none;
    align-items: center;
    cursor: pointer;
    z-index: 20;
    padding: 5px;
    width: 100%;
    top: 100%;
    right: 0;
}

#loginModal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 30;
    display: none;
    justify-content: center;
    align-items: center;
}

#loginBox {
    width: 600px;
    height: 400px;
    background: #f8f9f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lTitle {
    width: 40%;
    height: 100%;
    background: red;
}

#lCont {
    width: 60%;
    height: 100%;
    background: blue;
}

#mobileNavi {
    display: none;
}

#mobileLogin {
    display: none;
}

#popLogin {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    display: none;
    justify-content: center;
    align-items: center;
}

.loginBox {
    width: 800px;
    height: 500px;
    background: #fff;
    position: relative;
    display: flex;
}
.lClose {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 2rem;
    color: #9e9e9e;
    cursor: pointer;
}
.lImgBox {
    position: relative;
    width: 350px;
    height: 100%;
}
.lImgBox img {
    width: 100%;
}

.lLogo {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: #788841;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lTextBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.lTextBox p:first-child {
    font-size: 2rem;
    color: #f8f9f4;
}
.lTextBox p:last-child {
    font-size: .9rem;
    color: #fbfdf1;
    margin-top: -3px;
}
.lLogo a {
    font-size: 1.6rem;
    color: #445b17;
}

.lInputBox {
    width: 450px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lInput {
    width: 70%;
}
.loginText {
    font-size: 2.3rem;
    color: #445b17;
    font-weight: 600;
    padding-bottom: 25px;
    text-align: center;
}
.lText {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #929292;
    border-radius: 4px;
    font-size: .8rem;
}
.lText::placeholder {
    color: #757575;
    font-size: .8rem;
}
.groupCheck{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
#check {
    margin: 0;
}
.groupCheck a {
    font-size: .8rem;
    color: #333;
    align-items: center;
}
.checkLog {
    font-size: .8rem;
    color: #333;
    cursor: pointer;
}
.loginBt {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    background: #445b17;
    color: #f8f9f4;
    font-size: .9rem;
}
.regist {
    text-align: center;
    padding: 20px 0 10px;
    font-size: .8rem;
    color: #616161;
}
.regist a {
    color: #445b17;
    font-weight: 500;
}
.socialLogin {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.sociLine {
    width: 100%;
    height: 1px;
    background: #9e9e9e;
    margin: 15px;
}
.socialLogin p {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    width: 60px;
    text-align: center;
    color: #929292;
    font-size: .8rem;
}
.socialLogin img {
    width: 50px;
    margin: 0px 1px;
}

#imgModal {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    display: none;
    justify-content: center;
    align-items: center;
}

#confirmModal {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    display: none;
    justify-content: center;
    align-items: center;

}
.confirmBox {
    width: 400px;
    height: 225px;
    background: #fff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    overflow: hidden;
}
.confirmIcon {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.confirmIcon p {
    font-size: 2rem;
    color: #788841;
}


.confirmInfo {
    width: 100%;
    height: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5px;
}
.confirmTextBox {
    text-align: center;
}
.confirmText1 {
    font-size: 1.83rem;
    color: #333;
    
}
.confirmText2 {
    font-size: .9rem;
    color: #757575;
}
.buttonBox {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.conBtStyle {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    color: #fff;
    cursor: pointer;
}
.okBt {
    background: #788841;
}
.cancleBt {
    background: #babd9e;
}